* {
  margin: 0;
  padding: 0;
  outline: none;
}

@media screen and (max-width: 900px) {
  body {
    overflow-x: hidden;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  width: 1200px;
}
@media screen and (max-width: 1366px) {
  .container {
    width: 80vw;
  }
}
@media screen and (max-width: 1000px) {
  .container {
    width: 100vw;
  }
}

.caption {
  font-family: SFUIText-Regular;
  font-size: 2.5rem;
}

.text {
  font-family: SFUIText-Regular;
  font-size: 1.125rem;
}

.form {
  display: flex;
  flex-flow: column;
  padding: 52px 70px 68px 70px;
  background: #fff;
  border: 5px solid #F79F33;
  border-radius: 50px;
  font-size: 15px;
  width: 324px;
  font-family: SFUIText-Regular;
  /* Checked */
}
.form__text:not(.form__text:first-child) {
  font-size: 16px;
  margin-top: 29px;
}
@media screen and (max-width: 900px) {
  .form__text:not(.form__text:first-child) {
    margin-top: 10px;
  }
}
.form__input {
  font-size: 16px;
  margin-top: 5px;
  background: #F4F4F4;
  outline: none;
  border: none;
  border-radius: 11px;
  padding: 14px 10px;
}
.form label {
  white-space: nowrap;
}
@media screen and (max-width: 900px) {
  .form label {
    white-space: normal;
  }
}
.form .radio-wrapper {
  display: flex;
  flex-flow: nowrap;
  margin-top: 25px;
  cursor: pointer;
}
.form .btn {
  margin-top: 55px;
}
@media screen and (max-width: 900px) {
  .form .btn {
    margin-top: 15px;
    text-align: center;
  }
}
.form input[type=radio] {
  display: none;
}
.form .radio {
  display: inline-block;
  cursor: pointer;
  position: relative;
  padding-left: 25px;
  margin-right: 0;
  line-height: 18px;
  user-select: none;
}
.form .radio::before {
  content: "";
  display: inline-block;
  width: 18px;
  height: 18px;
  position: absolute;
  left: 0;
  bottom: 1px;
  background: #F4F4F4 0 0 no-repeat;
}
.form .radio::after {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  position: absolute;
  left: 1.5px;
  bottom: 5px;
  background: transparent 0 0 no-repeat;
}
.form .radio_active::after {
  content: url(../img/check-mark.png);
}
@media screen and (max-width: 1366px) {
  .form {
    font-size: 14px;
  }
}
@media screen and (max-width: 900px) {
  .form {
    box-sizing: border-box;
    padding: 32px 40px 38px 40px;
    font-size: 12px;
    margin: 0 auto;
  }
}

.btn {
  background: #F79F33;
  border-radius: 0.6875rem;
  padding: 0.875rem 1.5625rem;
  font-family: SFUIText-Regular;
  font-weight: 800;
  width: fit-content;
  font-size: 16px;
  font-weight: 500px;
  cursor: pointer;
  text-align: center;
}
@media screen and (max-width: 1366px) {
  .btn {
    font-size: 14px;
  }
}

.select {
  position: relative;
  margin-top: 5px;
  cursor: pointer;
}
.select__value {
  position: relative;
  font-size: 15px;
  background: #F4F4F4;
  border-radius: 11px 11px 0 0;
  padding: 14px 10px;
}
.select__value::before {
  content: url(../img/arrow.png);
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%) rotate(0deg);
}
.select__options {
  position: absolute;
  width: 100%;
  display: none;
  top: 0;
  z-index: 10;
}
.select__option {
  font-size: 16px;
  background: #F4F4F4;
  padding: 14px 10px;
}
.select__option:last-child {
  border-radius: 0 0 11px 11px;
}
.select_active .select__value::before {
  transform: translateY(-50%) rotate(180deg);
}
.select_active .select__options {
  display: block;
}
.select input {
  border: none;
  outline: none;
  background: transparent;
  font-family: SFUIText-Regular;
  font-weight: 600;
}
.select_up .select__options {
  bottom: 40px;
}
.select_up .select__value {
  border-radius: 0 0 11px 11px;
}
.select_up .select__option:first-child {
  border-radius: 11px 11px 0 0;
}

@font-face {
  font-family: SFUIText-Regular;
  src: url("../fonts/SFUIText-Regular.ttf");
}
.introduce {
  position: relative;
}
.introduce__content {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 900px) {
  .introduce__content {
    flex-flow: column;
  }
}
@media screen and (max-width: 900px) {
  .introduce__info {
    text-align: left;
    width: 200px;
    margin-left: auto;
  }
}
.introduce__s1 {
  position: relative;
  font-size: 36px;
  font-weight: 600;
}
.introduce__s1::before {
  content: "";
  position: absolute;
  width: 176px;
  height: 7px;
  bottom: -15px;
  background: #F79F33;
}
@media screen and (max-width: 1366px) {
  .introduce__s1 {
    font-size: 30px;
  }
}
@media screen and (max-width: 900px) {
  .introduce__s1 {
    white-space: nowrap;
    font-size: 24px;
    text-align: left;
    margin-left: -145px;
    margin-top: 15px;
    margin-right: 15px;
  }
  .introduce__s1::before {
    width: 250px;
  }
}
.introduce__s2 {
  font-size: 30px;
  margin-top: 77px;
}
@media screen and (max-width: 1366px) {
  .introduce__s2 {
    font-size: 20px;
  }
}
@media screen and (max-width: 900px) {
  .introduce__s2 {
    font-size: 15px;
    margin-top: 25px;
    margin-right: 15px;
  }
}
.introduce__s3 {
  font-size: 36px;
  margin-top: 10px;
}
@media screen and (max-width: 1366px) {
  .introduce__s3 {
    font-size: 30px;
  }
}
@media screen and (max-width: 900px) {
  .introduce__s3 {
    font-size: 15px;
    margin-right: 15px;
    margin-top: 0;
  }
}
.introduce__s4 {
  font-size: 24px;
  margin-top: 29px;
}
@media screen and (max-width: 1366px) {
  .introduce__s4 {
    font-size: 18px;
  }
}
@media screen and (max-width: 900px) {
  .introduce__s4 {
    font-size: 15px;
    margin-right: 15px;
  }
}
.introduce__form {
  margin-top: 10px;
}
@media screen and (max-width: 1366px) {
  .introduce__form {
    width: 300px;
    padding: 32px 50px 48px 50px;
  }
}
@media screen and (max-width: 620px) {
  .introduce__form {
    width: 340px;
    padding: 32px 50px 48px 50px;
  }
}
@media screen and (max-width: 1366px) {
  .introduce__formtext {
    margin-top: 15px !important;
  }
}
@media screen and (max-width: 1366px) {
  .introduce__formtext2 {
    margin-top: 15px !important;
    font-size: 15px;
  }
}
.introduce__person {
  position: absolute;
  bottom: -25px;
  left: 47%;
  transform: translateX(-50%);
  width: auto;
}
@media screen and (max-width: 1366px) {
  .introduce__person {
    width: 275px;
    left: 45%;
  }
}
@media screen and (max-width: 900px) {
  .introduce__person {
    width: 190px;
    left: 90px;
    bottom: 490px;
    z-index: -1;
  }
}

.header {
  width: 100%;
}
.header__item {
  height: 45px;
  line-height: 45px;
  position: relative;
}
.header__item::before {
  position: absolute;
  left: -40px;
  top: 50%;
  transform: translateY(-50%);
}
.header__item:first-child {
  margin-right: 115px;
}
@media screen and (max-width: 900px) {
  .header__item {
    margin-top: 35px;
    margin-right: 15px;
    font-size: 12px;
  }
  .header__item:first-child {
    margin-right: 70px;
  }
}
.header__text {
  font-size: 20px;
  text-align: center;
  line-height: 24.38px;
  margin-top: 25px;
}
@media screen and (max-width: 900px) {
  .header__text {
    display: none;
  }
}
.header__text_mobile {
  font-size: 8px;
  text-align: center;
  margin-top: 25px;
  width: 180px;
  display: none;
  margin: 0 auto;
}
@media screen and (max-width: 900px) {
  .header__text_mobile {
    display: block;
  }
}
.header__block {
  display: flex;
  justify-content: flex-end;
  width: 482px;
  margin: 0 0 0 auto;
}
@media screen and (max-width: 900px) {
  .header__block {
    width: 100vw;
  }
}
.header__phone::before {
  content: url("../img/phone.png");
}
.header__email::before {
  content: url("../img/mail.png");
}

.person-background {
  position: absolute;
  width: 2px;
  height: 317px;
  left: 644px;
  top: 349px;
  background: #F79F33;
  box-shadow: 0px 0px 200px 180px #F79F33;
  z-index: -1;
}
@media screen and (max-width: 900px) {
  .person-background {
    left: 0;
    top: 0;
  }
}

@media screen and (max-width: 900px) {
  .phone_delete {
    display: none;
  }
}

.portfolio {
  background: #F79F33;
  margin-top: 25px;
}
.portfolio__caption {
  text-align: center;
  font-weight: bold;
  margin-top: 120px;
}
.portfolio__works {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
@media screen and (max-width: 1000px) {
  .portfolio__works {
    justify-content: space-around;
  }
}
.portfolio__work {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
}
@media screen and (max-width: 1000px) {
  .portfolio__work:not(.portfolio__work_active) {
    display: none;
  }
}
@media screen and (max-width: 1366px) {
  .portfolio__work {
    width: 290px;
  }
}
.portfolio__image {
  position: relative;
}
@media screen and (max-width: 1000px) {
  .portfolio__image img {
    width: 80vw;
  }
}
@media screen and (max-width: 1366px) {
  .portfolio__image img {
    width: inherit;
  }
}
@media screen and (max-width: 1366px) {
  .portfolio__image {
    width: inherit;
  }
}
@media screen and (max-width: 1000px) {
  .portfolio__left-arrow {
    position: absolute;
    width: 44px;
    height: 44px;
    left: -22px;
    top: 50%;
    transform: translateY(-50%);
    background: url(../img/slider-arrow.png);
    background-size: cover;
    border-radius: 10px;
  }
  .portfolio__right-arrow {
    position: absolute;
    width: 44px;
    height: 44px;
    right: -22px;
    top: 50%;
    transform: translateY(-50%) rotate(180deg);
    background: url(../img/slider-arrow.png);
    background-size: cover;
    border-radius: 10px;
  }
}
.portfolio__address {
  margin-top: 30px;
  font-weight: 600;
  font-size: 15px;
  text-align: center;
}
.portfolio__btn {
  margin: 30px auto 60px auto;
  background: #fff;
}

.advantages {
  margin-top: 120px;
  margin-bottom: 120px;
}
.advantages__titles {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}
.advantages__group {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.advantages__group:nth-child(1) {
  margin-top: 30px;
}
@media screen and (max-width: 620px) {
  .advantages__group:nth-child(1) {
    margin-top: 0;
  }
}
.advantages__group:nth-child(2) {
  margin-top: 74px;
  justify-content: center;
}
.advantages__group:nth-child(2) .advantages__title:first-child {
  margin-right: 25px;
}
@media screen and (max-width: 620px) {
  .advantages__group:nth-child(2) .advantages__title:first-child {
    margin-right: 0;
  }
}
.advantages__group:nth-child(2) .advantages__title:last-child {
  margin-left: 25px;
}
@media screen and (max-width: 620px) {
  .advantages__group:nth-child(2) .advantages__title:last-child {
    margin-left: 0;
  }
}
@media screen and (max-width: 620px) {
  .advantages__group:nth-child(2) {
    margin-top: 0;
  }
}
.advantages__group:nth-child(3) {
  margin-top: 50px;
}
@media screen and (max-width: 620px) {
  .advantages__group:nth-child(3) {
    margin-top: 0;
  }
}
@media screen and (max-width: 1366px) {
  .advantages__group {
    justify-content: center;
  }
}
@media screen and (max-width: 1000px) {
  .advantages__group {
    justify-content: center;
  }
}
.advantages__title {
  display: flex;
  flex-flow: column;
  text-align: center;
  width: 362px;
  font-size: 16px;
  font-weight: 600;
}
@media screen and (max-width: 1366px) {
  .advantages__title {
    width: 275px;
  }
}
@media screen and (max-width: 1000px) {
  .advantages__title {
    margin-top: 50px;
  }
}
@media screen and (max-width: 620px) {
  .advantages__title {
    margin-top: 30px;
  }
}
.advantages__icon {
  position: relative;
  display: grid;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;
  background: #F79F33;
  border-radius: 50%;
  margin: 0 auto;
  z-index: 1;
}
@media screen and (max-width: 1366px) {
  .advantages__icon img {
    width: 55px;
  }
}
@media screen and (max-width: 1366px) {
  .advantages__icon {
    width: 100px;
    height: 100px;
  }
}
.advantages__icon::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 70px;
  height: 70px;
  background: #fff;
  border-radius: 50%;
  z-index: -1;
}
@media screen and (max-width: 1366px) {
  .advantages__icon::before {
    width: 50px;
    height: 50px;
  }
}
.advantages__text {
  text-align: center;
  margin-top: 15px;
}
@media screen and (max-width: 1366px) {
  .advantages__text {
    font-size: 14px;
  }
}
.advantages__caption {
  text-align: center;
  font-weight: bold;
}
.advantages__caption-text {
  margin: 15px auto;
  width: 870px;
  font-size: 17px;
}
@media screen and (max-width: 620px) {
  .advantages__caption-text {
    width: auto;
  }
}
.advantages__btn {
  margin: 60px auto 0 auto;
}
@media screen and (max-width: 1366px) {
  .advantages {
    margin: 25px 0 0 0;
    padding-bottom: 25px;
  }
}

.feedback__btn {
  margin: 0 auto;
}
.feedback__caption {
  font-weight: bold;
  text-align: center;
  margin-top: 80px;
}
@media screen and (max-width: 900px) {
  .feedback__caption {
    width: 100%;
    font-size: 25px;
    text-align: right;
    width: 90%;
  }
}
.feedback__form {
  margin: 60px auto 0 auto;
  width: 558px;
  padding: 68px 54px 52px 54px;
}
@media screen and (max-width: 1366px) {
  .feedback__form {
    width: 400px;
    padding: 53px 39px 37px 39px;
  }
}
@media screen and (max-width: 900px) {
  .feedback__form {
    width: 90vw;
    margin-top: 200px;
    padding: 38px 24px 22px 24px;
  }
}
@media screen and (max-width: 900px) {
  .feedback__form .form__text, .feedback__form .select__value, .feedback__form .select__option {
    font-size: 12px !important;
  }
}

.person2 {
  position: absolute;
  bottom: 0;
  left: -50px;
  z-index: -1;
}
@media screen and (max-width: 1366px) {
  .person2 {
    width: 500px;
  }
}
@media screen and (max-width: 900px) {
  .person2 {
    transform: scale(0.5);
    left: -170px;
    top: 25px;
  }
}

.person2-bg {
  position: absolute;
  width: 4px;
  height: 184px;
  left: 215px;
  top: 523px;
  background: #F79F33;
  box-shadow: 0px 0px 250px 210px #F79F33;
  z-index: -2;
}
@media screen and (max-width: 900px) {
  .person2-bg {
    box-shadow: 0px 0px 150px 1 10px #F79F33;
    left: 100px;
    top: 100px;
  }
}

/*# sourceMappingURL=main.css.map */
